body {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  background: black;
  color: yellow;
}


.container {
  position: relative;
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}
input {
  text-align: center;
  width: 400px;
  height: 80px;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 25px;
  margin-bottom: 10px;
  border: 5px solid yellow;
  background:black;
  color:red;
}

.red {
  color: red;
}

.centerize {
  text-align: center;
}

@mixin button-bg($bg) {
  background: $bg;
  &:disabled {
    background:lighten($bg,30%);
    transition: all 1s ease;
  }
}

button[name='startButton'] {
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 16px;
  @include button-bg(#2ecc71);
  width: 150px;
}

button[name='resetButton'] {
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 16px;
  background: #e74c3c;
  width: 150px;
}
